body {
    background-color: aliceblue;
    .container {
        text-align: center;
    }
}


.map-container {
    position: absolute;
    height: 500px;
    /* if map isn't fullscreen, height must be specified or it won't display */
    bottom: 0;
    width: 100%;
    /* top and bottom gap outside container*/
}